<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>用户信息</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

<style type="text/css">
h2 {
	width: 94%;
	margin: auto;
	margin-top: 20px;
}

.myself_topDiv {
	width: 95%;
	margin: auto;
	margin-top: 20px;
	border: 1px solid #e1e1e1;
}
</style>

</head>
<body>

	<h2>用户信息中心</h2>
	<div class="myself_topDiv">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID编号</th>
					<th>姓名</th>
					<th>备注名称</th>
					<th>年龄</th>
					<th>电话</th>
					<th>邮箱</th>
					<th>地址</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="list : ${listUser}">
					<td th:text="${list.id}"></td>
					<td th:text="${list.name}"></td>
					<td th:text="${list.showName}"></td>
					<td th:text="${list.age}"></td>
					<td th:text="${list.phone}"></td>
					<td th:text="${list.email}"></td>
					<td th:text="${list.address}"></td>
				</tr>
			</tbody>
		</table>


	</div>



</body>
</html>